tmp/*
Python/c1.txt
Python/c2.txt
Python/s.txt
Python/fr.txt
JavaScript/c1.txt
JavaScript/c2.txt
JavaScript/s.txt
JavaScript/fr.txt
__pycache__/
.vscode/
Ruby/test1.txt
Ruby/New folder/
Python/Udemy/.vscode/
Python/Udemy/.mypy_cache/
Python/Udemy/ApplicationWindows/.vscode/
Python/Udemy/LaListeDeCourses/LaListeDeCoursesClasse/__pycache__/
Python/Udemy/Moduls/__pycache__/
Python/Udemy/Moduls/myModuls/__pycache__/
Python/Udemy/ParcourirChaqueFichierEtRécupérer/dossier-exemple.zip
Python/Udemy/SQLandJson/.vscode/
Python/Udemy/TrierDesFichiersSelonLeurType/tri-fichiers-sources.zip
Python/Udemy/ListOfMovies/env/
JavaScript/myExpressApp/
HTML_CSS/Exercices_CV/
HTML_CSS/Exercices_Site/BulmaTuto
HTML_CSS/Exercices_Site/Presentation/
HTML_CSS/Exercices_Site/Formation Complète Développeur Web (John Taieb) - Copy/fontawesome-free-5.12.1-web/