/* GLOBAL */
.headin-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.COLORED {
    height: 400px;
    width: 100%;
    background-color: #3498db;
    padding: 30px;
    text-align: center;
}

/* HEADER */
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #53535373;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: background-color 1s ease-in-out;
}

.header .header-logo {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a{
    margin-right: 15px;
    color: #ffffff;
}

.header .header-menu a:hover {
    color: #3498db !important;
}


/* BANNER */
.banner {
    margin-top: -9%;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}

.banner .banner-content h1, 
.banner .banner-content h2 {
    color: #ffffff;
}

/* ABOUT */
.about .about-single-element .icon {
    font-size: 30px;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/* FOOTER */
.footer .footer-information {
    text-align: center;
    margin-top: 30px;
}

.footer .footer-information ul {
    padding: 0;
}

.footer .footer-information ul li {
    font-size: 30px;
    display: inline-block;
    list-style-type: none;
}

/* MODAL */
.own-modal {
    padding-top: 120px;
    font-size: 30px;
}


/* EMAIL */
.buttonSend {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
}

/* CONTACT ME */
.footer-contact-form {
    width: 550px;
    margin: auto;
}

/* RESPONSIVE */
/* BANNER */
@media screen and (max-width: 600px) {
    .banner .banner-content {
        margin-top: -10%;
    }
}
/* NAV */
@media screen and (max-width: 600px) {
    .toggle_btn {
        height: 30px;
        width: 30px;
        position: relative;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
    }
    .toggle_btn span {
        height: 4px;
        width: 100%;
        background-color: #000000;
        position: absolute;
        top: 30px;
        left: 0;
        border-radius: 10px;
    }

    .toggle_btn span:before {
        content: '';
        height: 4px;
        width: 100%;
        background-color: #000000;
        position: absolute;
        top: -10px;
        left: 0;
        border-radius: 10px;

    }
    .toggle_btn span:after {
        content: '';
        height: 4px;
        width: 100%;
        background-color: #000000;
        position: absolute;
        top: 10px;
        left: 0;
        border-radius: 10px;

    }
    .menuResponsive {
        margin-top: 70px;
        height: 1000px;
        background-color: #53535373;
        width: 135px;
    }
    .menuResponsive a {
        color: #ffffff;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    .nav {
        margin-left: -200px;
        transition-duration: 0.2s;
    }
    .nav_open {
        margin-left: 0;
        transition-duration: 0.2s;
    }
}

/* CONTACT ME */
@media screen and (max-width: 550px) {
    .footer-contact-form {
        width: 100%;
    }
}

/* BUTTON CONTACT ME */
@media screen and (max-width: 600px) {
    #openModal {
        display: none;
    }
}
/* RESPONSIVE */


